body {
	color:#6A648A;
	font-family: 'Montserrat', sans-serif;
}

a {
	color:#3C3C40;
	font-family: 'Montserrat', sans-serif;
}


.btn-primary {
	background-color:#6A648A;
	border:1px solid #ccc;
	color:#fff;
}

.btn-primary a {
	color:#fff;
	text-decoration: none
}

.btn-primary:hover {
	background-color:#8F89A0;
	color:#fff;
	border:1px solid #ccc;
}

.floatedtext {
	float:right;
	font-size:17px;
	width:700px;

}

h1 {
	margin-bottom:20px;
}


.btn-block {

	margin-bottom: 17px;
}

.thumbnail {
	padding:20px;
	padding-bottom: 0px;
}

h3 {
	color:#8F89A0;
}